@use 'variables';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputWrap {
  position: relative;
  width: auto;
}

.inputField {
  width: 300px;
  height: 50px;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0 0.5rem;
  background-color: white;
}

.btn {
  width: 300px;
  height: 45px;
  color: variables.$color-dark-gray;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.09rem;
  background-color: variables.$color-green;
  border: none;
  cursor: pointer;
}

.message {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  margin-bottom: 0.1rem;
  color: variables.$color_off_white;
  font-weight: 300;
}

.errorContainer {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  width: 100%;
  height: auto;
  color: #ed6a5a;
  margin-bottom: 0.1rem;
  max-width: fit-content;
}
